.sidebar{
    padding: 14px 22px;
    background-color: #183258;
    color: var(--white);
}

.title{
    color: inherit
}

.hItem{
    color: inherit;
}


.sidebarList[class],
.sidebarList{
    list-style: none;
    padding: 0;
}

.sidebarItem{
    padding: 10px;
    border-radius: 7px;
    transition: 0.3s linear;
}

.sidebarItem:hover{
    background-color: var(--gray-300);
}

.sidebarList{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.active{
    background-color: var(--gray-400);
}